config.yaml
files/*
!files/
database/*
!database/
templates/*
!templates/
!templates/docs/*
translations/*
!translations/
!translations/README
vendor/*
!vendor/
public/*
!public/
!public/index.php
plugins/*
!plugins/
controllers/*
!controllers/
bin/*
!bin/
cache/*
!cache/
core/modules/*
!core/modules/