<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css" rel="stylesheet" />
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
     <div class="container centerplz">
      <h1 class="retype">
        {% block code %}{% endblock %}
      </h1>
     </div>
    </body>
    <script src="js/core.js"></script>
</html>
